@font-face {
  font-family: 'Suisse Intl';
  src: url('assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('assets/fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('assets/fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Suisse Intl";
  color: rgb(20, 20, 20);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page_wrapper {
  display: flex;
  padding: 20px 50px;
  min-height: 100vh;
  justify-content: space-between;
}

#blob {
  filter: saturate(1.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poster {
  flex-shrink: 0;
  border-radius: 15px;
  aspect-ratio: 3/4;
  width: 480px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  filter: saturate(1.2);
  position: relative;
  margin-left: 40px;
}

.content {
  display: flex;
  flex-direction: column;
}

.date_input {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#litepicker {
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid darkgray;
  font-size: 16px;
  margin: 24px 0;
  width: fit-content;
}

.input_icon {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.typography {
  z-index: 10;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(20, 20, 20);
}

.typography_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.typography_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top_left {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
}

.top_right {
  font-size: 48px;
  font-weight: 600;
}

.bottom_left {
  font-weight: 600;
  font-size: 48px;
}

.bottom_right {
  transform-origin: bottom right;
  transform: rotate(-90deg) translateX(100%);
  font-size: 10px;
  color: rgb(48, 48, 48);
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 180px;
}

.subtitle {
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
  color: rgb(39, 39, 39);
}

.footer {
  margin-top: auto;
  font-size: 12px;
  color: rgb(73, 73, 73);
}

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgb(105, 105, 105);
}